.main{
  width: 100vw;
  height: auto;
  padding-bottom: 5vh;
}
.posText{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  h2{
    margin-top: 20px;
    font-size: 1.7em;
    font-weight: bold;
  }
  p{
    margin-top: 20px;
    font-size: 1.1em;
    width: 40%;
    color: #282828;
  }
}
.posPerson{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  padding: 0 5vw;
  margin-top: 3vh;
}
