.main{
  width: 100vw;
  height: auto;
  padding-bottom: 10vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.block{
  width: 80%;
  height: auto;
  display: flex;
  position: relative;
}
.Image{
  width: 20%;
  height: 100%;
  margin: 0 30px;

  img{
    width: 100%;
    height: auto;
  }
}
.text{
  width: 80%;
  font-size: 1.3em;
  padding: 20px 10px 0 20px;
  text-align: justify;
  line-height: 1.6;
}

@media (max-width: 768px){
  .block{
    width: 90%;
    flex-direction: column;
  }
  .Image{
    width: 90%;
    height: 100%;
    margin: 0 30px;

    img{
      width: 100%;
      height: auto;
    }
  }
  .text{
    width: 100%;
    padding: 0;
  }
  #rev{
    flex-direction: column-reverse;
  }
}