.main{
  width: 15vw;
  height: 10vh;
  background: #282828;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  cursor: pointer;
  color: #b7b7b7;
  border-radius: 20px;

  img{
    width: 60px;
    height: 60px;
    margin: 0 20px;
  }
}

.Link{
  text-decoration: none;
}
@media (max-width: 768px){
  .main{
    width: 90vw;
  }
}